body {
    background-color:#fcb5b5;
    padding-top: 50px;
    padding-bottom: 20px;
  
   
}
.jumbotron{
    background-color:olive;
    box-shadow: 10px 10px 5px #888888;
}
h1{
    font-family: Georgia;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
 
 
}
a
{
   color:coral;
   font-family:Verdana;
}
p{
    font-family: Georgia;
}
h2{
    width: 120px;
    height: 35px;
    background-color:olive;
    box-shadow: 10px 10px 5px #888888;
}
.btn
{  padding: 6px 16px;
    border: 0 none;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:peru;
     box-shadow: 10px 10px 5px #888888;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
